.estudo{
    height: 300px;
    width: 300px;
}

.seta{
    height: 310px;
    width: 310px;
}

div {
    background-color: #A28C74;
    font-size:   1cm;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-items: center;
    text-align: center;
    padding-top: 9%;
}

body{
    background-color: #A28C74;
}