.cabecalho{
    display: flex;
    font-size: 0.5cm;
    border: 1px solid black;
    margin: 0px;
    padding: 10px 20px;
    justify-content: space-between;
    font-family: "Patrick Hand SC", cursive;
    align-items: center;
    background-color: #e3be97;

    color: #3C3A5D;
}

.menu{
    width: 30px;
    height: 30px;
    padding: 2px;
    border: 1px solid black;
}

.pagina {
    background-color: #A28C74;
    font-size:   1cm;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-items: center;
    text-align: center;
    padding-top: 9%;
}

body{
    background-color: #A28C74;
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 150px;
}

a{
    color: black;
    text-decoration: none;
}

.timer{
    background-color: #e3be97;
    width: 400px;
    border-radius: 20px;
    display: inline-flex;
    padding: 10px;
    align-items: center;
    flex-direction: column;
}

button{
    height: 50px;
    background-color: #c7b19b;
    border-radius: 20px;
}

.contador{
    background-color: white;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    width: 100px;
    border-radius: 20px;
    border: 0.01px solid black;
}

.contador p{
    margin: 0px;
}