<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time to Focus</title>
    <link rel="stylesheet" href="styles/inicial.css">
</head>
<body>
    <div>
        <h2>Time To Focus</h2>
        <p>Selecione o seu método de estudo.</p>

        <a href="/pomodoro">
            <img src="assets\pomodoro.png" class="estudo">
        </a>

        <img src="assets\seta.png" alt="" class="seta">
        <img src="assets\bloco_de_notas.png" alt="" class="estudo">
    </div>

</body>
</html>