<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time to Focus</title>
    <link rel="stylesheet" href="styles/inicial.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&family=Poppins:wght@600&family=Tilt+Neon&display=swap" rel="stylesheet">
</head>
<body>
    <div class="contador">
        <p>Visitas</p>
        <p id="visitas"></p>
    </div>
    <div>
        <h2>Time To Focus</h2>
        <p>Selecione o seu método de estudo.</p>

        <a href="/pomodoro">
            <img src="assets\pomodoro.png" class="estudo">
        </a>

        <img src="assets\seta.png" alt="" class="seta">
        <a href="/feynman">
            <img src="assets\bloco_de_notas.png" alt="" class="estudo">
        </a>    
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io('http://localhost:3000');
        socket.on('visita', function(visitas){
            document.getElementById('visitas').innerHTML = visitas;
        });
    </script>

</body>
</html>