<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time to Focus</title>
    <link rel="stylesheet" href="styles/pomodoro.css">
    <script src="https://kit.fontawesome.com/70a34d8a06.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="cabecalho">
        <p class="pomodoro">Pomodoro</p>
        <nav>
            <a href="/">Inicio</a>
            <a>Outro estudo</a>
        </nav>
    </header>
    <div class="pagina">
        <div class="timer" id="timer">
            <h2>Timer</h2>
            <h2 class="tempo" id="tempo">20:00</h2>
            <button onclick="Estudo()" id="botao"></button>
        </div>
    </div>

    <script type="text/javascript">
        document.getElementById('botao').innerHTML = "Começar o Estudo";
        var min = 0;
        var seg = 0;
        var pas = 0; 

        function Descanso(){
            min = 5;
            seg = 0;
            pas = 1;
            const ponteiro = setInterval(diminuirTempo, 1000);
        }

        function Estudo(){
            min = 20;
            seg = 0;
            pas = 0;
            const ponteiro = setInterval(diminuirTempo, 1000);
        }

        function diminuirTempo(){
            document.getElementById('botao').style.display = 'none';
            if(this.seg != 0){
                this.seg -= 1;
            }

            if((min == 0) && (seg == 0)){
                document.getElementById('botao').style.display = 'inline-block';
                if(pas == 0){
                    document.getElementById('botao').innerHTML = "Começar o Descanso";
                    document.getElementById('botao').setAttribute('onclick', 'Descanso()');
                }else{
                    document.getElementById('botao').innerHTML = "Começar o Estudo";
                    document.getElementById('botao').setAttribute('onclick', 'Estudo()');
                }
                document.getElementById("tempo").innerHTML = '0' + min.toString() + ':0' + seg.toString();
                clearInterval(ponteiro);
            }else{
                if(seg == 0){
                    this.min -= 1;
                    this.seg = 59;
                }
            }

            if(seg >=10){
                document.getElementById("tempo").innerHTML = min.toString() + ':' + seg.toString();
                if(min == 0){
                    document.getElementById("tempo").innerHTML = '0' + min.toString() + ':' + seg.toString();
                }
            }else if (seg < 10){
                document.getElementById("tempo").innerHTML = min.toString() + ':0' + seg.toString();
                if(min == 0){
                    document.getElementById("tempo").innerHTML = '0' + min.toString() + ':0' + seg.toString();
                }
            }
        }

    </script>
</body>
</html>