<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time to Focus</title>
    <link rel="stylesheet" href="styles\pomodoro.css">
    <script src="https://kit.fontawesome.com/70a34d8a06.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="cabecalho">
        <div class="contador">
            <p>Visitas</p>
            <p id="visitas"></p>
        </div>
        <p class="pomodoro">Pomodoro</p>
        <nav>
            <a href="/">Inicio</a>
            <a href="/feynman" target="_blank">feynman</a>
        </nav>
    </header>
    <div class="pagina">
        <div class="timer" id="timer">
            <h2>Timer</h2>
            <h2 class="tempo" id="tempo">25:00</h2>
            <button onclick="Estudo()" id="botao"></button>
        </div>
    </div>

    <audio id="audio" loop>
        <source src="assets/alarm_clock.mp3" type="audio/mp3" >
        Seu navegador não possui suporte ao elemento audio
    </audio>

    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io('http://localhost:3000');
        socket.on('visita', function(visitas){
            document.getElementById('visitas').innerHTML = visitas;
        });
        document.getElementById('botao').innerHTML = "Começar o Estudo";
        var min = 0;
        var seg = 0;
        var pas = 0; 
        var conta = 0;
        var ponteiro;

        function Descanso(){
            document.getElementById('audio').pause();
            min = 5;
            seg = 0;
            pas = 1;
            ponteiro = setInterval(diminuirTempo, 1000);
        }

        function DescansoLongo(){
            document.getElementById('audio').pause();
            min = 15;
            seg = 0;
            pas = 1;
            ponteiro = setInterval(diminuirTempo, 1000);
        }

        function Estudo(){
            document.getElementById('audio').pause();
            min = 25;
            seg = 0;
            pas = 0;
            conta += 1;
            ponteiro = setInterval(diminuirTempo, 1000);
        }

        function diminuirTempo(){
            document.getElementById('botao').style.display = 'none';

            if(this.seg != 0){
                this.seg -= 1;
            }

            if((min == 0) && (seg == 0)){
                document.getElementById('botao').style.display = 'inline-block';
                document.getElementById('audio').play();
                if((pas == 0) && (conta == 4)){
                    document.getElementById('botao').innerHTML = "Começar o Descanso Longo";
                    document.getElementById('botao').setAttribute('onclick', 'DescansoLongo()');
                    conta = 0;
                }else if(pas == 0){
                    document.getElementById('botao').innerHTML = "Começar o Descanso";
                    document.getElementById('botao').setAttribute('onclick', 'Descanso()');
                }else{
                    document.getElementById('botao').innerHTML = "Começar o Estudo";
                    document.getElementById('botao').setAttribute('onclick', 'Estudo()');
                }
                document.getElementById("tempo").innerHTML = '0' + min.toString() + ':0' + seg.toString();
                clearInterval(ponteiro);
            }else{
                if(seg == 0){
                    this.min -= 1;
                    this.seg = 59;
                }
            }

            if(seg >=10){
                document.getElementById("tempo").innerHTML = min.toString() + ':' + seg.toString();
                if(min == 0){
                    document.getElementById("tempo").innerHTML = '0' + min.toString() + ':' + seg.toString();
                }
            }else if (seg < 10){
                document.getElementById("tempo").innerHTML = min.toString() + ':0' + seg.toString();
                if(min == 0){
                    document.getElementById("tempo").innerHTML = '0' + min.toString() + ':0' + seg.toString();
                }
            }
        }
    </script>
</body>
</html>
